@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

h1 {
  margin-top: 50px;
	text-align: center;
  color: #ff4b2b;
  text-shadow:3px 3px #e8d0c7;
  font-family: 'Fredoka One', sans-serif;
  font-size:40pt;
}

h4 {
  text-align: center;
  color: #e49b8e;
  text-shadow:1px 1px #e8d0c7;
  font-family:'Cookie',cursive;
  font-size:30pt;
}

.container {
  margin-top: 50px;
  display: flex;
}

.item {
  box-shadow: 0px 6px 10px 1px rgba(36, 37, 38, 0.08);
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  margin-right: auto;
  text-align: center;
}

button:active {
	transform: scale(0.95);
}

.item:nth-child(1) {
  height: 650px;
  width: 200px;
  justify-content: center;
}

.item:nth-child(2) {
  height: 520px;
  width: 740px;
  margin-top: 100px;
  position: relative;
	overflow: hidden;
}

button:focus {
	outline: none;
}

.button-details {
  border-radius: 20px;
	border: 1px solid #fad634;
	color: #FFFFFF;
  background-color: transparent;
	border-color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 30px;
	letter-spacing: 1px;
  margin-top: 15px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.detail-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.pokemon-container {
	left: 0;
	width: 50%;
	z-index: 2;
  opacity: 1;
}

.item.right-panel-active .pokemon-container {
	transform: translateX(100%);
  opacity: 0;
}

.search-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.item.right-panel-active .search-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.item.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
  background: rgb(254,134,113);
  background: linear-gradient(90deg, rgba(254,134,113,1) 0%, rgba(240,118,93,1) 45%, rgba(255,99,110,1) 100%);	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.item.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.item.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.item.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.item.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}

.search_box{
	background: #fcdcdc;
	position: relative;
	padding: 10px;
	border-radius: 50px;
	display: flex;
}

.search_box .search_btn{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #f0925c;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin-right: 10px;
  margin-left: 10px;
	cursor: pointer;
}

.search_box .button-search{
	outline: none;
	border: 0;
	background: #f7c18e;
	border-radius: 50px;
	padding: 15px 20px;
	width: 200px;
	height: 50px;
	color: #fff;
}

::placeholder {
  color: #fff;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

.img-pokemon {
  width: 100px;
  height: 100px;
  border-radius: 30%;
  position: absolute;
  top: -30px;
  left: 100px;
  border: 5px solid rgb(224, 245, 255);
}

.pokemon-details {
  width: 310px;
  height: 420px;
  background: rgb(224, 245, 255);
  position: relative;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.content{
  padding: 20px 20px 20px;
}

p {
  font-family: 'Blinker', sans-serif;
  margin-top: 10px;
  font-weight: 100;
}

.data {
  width: 100%;
}

.inner-data {
  width: 31%;
  float: left;
  text-align: center;
  background: #ffffff;
  border-radius: 20%;
  margin: 2px;
}

h3 {
  color: #6c8386;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Blinker', sans-serif;
  font-size: 20pt;
  margin-top: 20px;
}

.pagination {
  margin-top: 50px;
  transform: translate(30%,-10%);
  width: 100px;
  height: 50px;
  background: #eaecf1;
  padding: 0px 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.125);
}

.pagination .prev,
.pagination .next{
  position: absolute;
  transform: translateY(30%);
  width: 25px;
  height: 25px;
  background: #fff;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  cursor: pointer;
  color: #a6abbb;
}
.pagination .prev{
  left: 20px;
}

.pagination .next{
  right: 20px;
}

.color_results {
  color:rgb(135, 143, 146);
}

.color_attributes {
  color: #666969;
}

