<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container" id="container">
      <div class="item">
        <div *ngIf="pokemones" class="mt-3">
          <h4>Búsqueda Rápida</h4>
          <div *ngFor="let pokemon of pokemones">
            <button class="btn btn-link" (click)=getPokemonDetails(pokemon.url)>{{pokemon.name}}</button>
          </div>
        </div>
        <div class="pagination">
          <div class="prev">
            <button (click)=getPreviousList()><
            </button>
          </div>
          <div class="next">
            <button (click)=getNextList()>
             >
            </button>
          </div>
        </div>

      </div>
      <div class="item"  id="details">
        <div class="detail-container search-container">
          <h1>Pokemon</h1>
          <img src="../../assets/images/pokeball_open.png" alt="Pokebola Abierta" width="200" height="200">
        </div>
        <div class="detail-container pokemon-container">
            <h1>Pokemon</h1>
            <img src="../../assets/images/pokeball_closed.png" alt="Pokebola Cerrada" width="150" height="150" style="margin: 50px;">
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <div class="pokemon-details">
                <div *ngIf="pokemon">
                  <img *ngIf="pokemon.sprites" [src]="pokemon.sprites.other.dream_world.front_default" alt="" class="img-pokemon">
                  <div class="content">
                    <h3 style="margin-top: 50px;">{{pokemon.name}}</h3>
                    <div class="data">
                      <div class="inner-data">
                        <p class="color_attributes">Experiencia</p>
                        <p class="color_results">{{pokemon.base_experience}}</p>
                      </div>
                      <div class="inner-data">
                        <p class="color_attributes">Altura</p>
                        <p class="color_results">{{pokemon.height}}</p>
                      </div>
                      <div class="inner-data">
                        <p class="color_attributes">Peso</p>
                        <p class="color_results">{{pokemon.weight}}</p>
                      </div>
                    </div>
                    <div class="data">
                      <div class="inner-data">
                        <p class="color_attributes">Habilidades</p>
                        <div *ngFor="let abi of pokemon.abilities">
                          <p class="color_results">{{abi.ability.name}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="data">
                      <div class="inner-data">
                        <p class="color_attributes">Tipo</p>
                        <div *ngFor="let type of pokemon.types">
                          <p class="color_results">{{type.type.name}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               <div *ngIf="!pokemon">
                <img src="../../assets/images/missingno.png" alt="MissingNo" width="200" height="300">
                <p class="color_attributes"> No se encuentra el pokemon. </p>
               </div>
              </div>
              <button class="button-details" id="back">Volver</button>
            </div>
            <div class="overlay-panel overlay-right">
              <div class="wrapper">
                <div class="search_box">
                  <input id="pokemonSearch" name="pokemonSearch" #pokemonSearch type="text" class="button-search" placeholder="¡Busca tu Pokemon!">
                  <div class="search_btn">
                    <button id="search" class="button-search" (click)=getPokemonName(pokemonSearch.value)><i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
